{% extends 'KunstmaanAdminBundle:Settings:index.html.twig' %}

{% form_theme form 'KunstmaanAdminBundle:Form:fields.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'Edit dashboard' | trans | raw }}</h1>
    </div>

    <div>
        <a href="{{ path('KunstmaanAdminBundle_analytics_resetProfile') }}" class="btn btn-primary">
            {{ 'analytics.dashboard.reset.profile' | trans }}
        </a>&nbsp;
        <a href="{{ path('KunstmaanAdminBundle_analytics_resetProperty') }}" class="btn btn-primary">
            {{ 'analytics.dashboard.reset.property' | trans }}
        </a>
        <br/><br/>
    </div>

    <form class="form-horizontal" action="{{ path('KunstmaanAdminBundle_homepage_admin') }}" method="post" {{ form_enctype(form) }}>
	    <fieldset>
	    	{{ form_errors(form) }}
	    	{{ form_row(form.title) }}
	                {{ form_row(form.content) }}
	        {{ form_rest(form) }}
	        <div class="form-actions">
	            <button class="btn btn-primary" type="submit">{{ 'form.save' | trans }}</button>
	            <button onclick="window.location = '{{ path('KunstmaanAdminBundle_homepage') }}'" type="reset" class="btn">{{ 'form.cancel' | trans }}</button>
	        </div>
	    </fieldset>
	</form>
{% endblock %}
