<div class="db-block">
    <h2 class="db-block__title">Traffic Sources</h2>
    <ul class="db-block__list">
        <li class="db-block__list__item db-block__list__item--icon db-block__list__item--icon-direct">
            <p class="db-block__text">Direct</p>
            <p class="db-block__stats">
                <span class="db-block__stats--enlarged" id="data_overview_traffic_direct">
                    {{ overview.trafficDirect }} ({{ overview.getTrafficDirectPercentage }}%)
                </span>
            </p>
        </li>
        <li class="db-block__list__item db-block__list__item--icon db-block__list__item--icon-referral">
            <p class="db-block__text">Referrals</p>
            <p class="db-block__stats">
                <span class="db-block__stats--enlarged" id="data_overview_traffic_referral">
                    {{ overview.trafficReferral }} ({{ overview.getTrafficReferralPercentage }}%)
                </span>
            </p>
        </li>
        <li class="db-block__list__item db-block__list__item--icon db-block__list__item--icon-search">
            <p class="db-block__text">Search Engines</p>
            <p class="db-block__stats">
                <span class="db-block__stats--enlarged" id="data_overview_traffic_searchEngine">
                    {{ overview.trafficSearchEngine }} ({{ overview.getTrafficSearchEnginePercentage }}%)
                </span>
            </p>
        </li>
    </ul>
</div>


<script>
    function setTraffic(data) {
        $('#data_overview_traffic_direct').html(data.overview.trafficDirect + " (" + data.extra.trafficDirectPercentage + "%)");
        $('#data_overview_traffic_referral').html(data.overview.trafficReferral + " (" + data.extra.trafficReferralPercentage + "%)");
        $('#data_overview_traffic_searchEngine').html(data.overview.trafficSearchEngine + " (" + data.extra.trafficSearchEnginePercentage + "%)");
    }
</script>
